@font-face {
  font-family: AquaGrotesque;
  src: url("../font/aqua.ttf");
}

body {
  background-color: #fff;

  color: #150e31;
  font-family: "Open Sans", sans-serif;
  line-height: 2 em;
  margin: 0;
}

/* Navigation */
.navBar {
  width: 75vw;
  margin: auto;
}

#Navi {
}

.Name {
  position: absolute;
  margin-top: 50px;
  padding-bottom: 8px;
}

.Name a {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #150e31;
}

.Name a span {
  font-family: "AquaGrotesque", sans-serif;

  font-size: 1.4rem;
  font-weight: bold;
}

nav {
  padding-top: 60px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 0.75rem;
  text-transform: uppercase;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  padding: 0px 0px 0px 30px;
  float: right;
  list-style-type: none;
}

nav a {
  width: 100px;
  text-align: center;
  text-decoration: none;
  color: #150e31;
  text-decoration: none;
}

nav a {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 8px;
}
nav a:before,
nav a:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #150e31;
}
nav a:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  transition: opacity 0s,
    -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s,
    -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
nav a:after {
  opacity: 0;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  transition: opacity 0.2s,
    -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
nav a:hover:before,
nav a:hover:after,
nav a:focus:before,
nav a:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
nav a:hover:before,
nav a:focus:before {
  transition: opacity 0.2s,
    -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
nav a:hover:after,
nav a:focus:after {
  transition: opacity 0s 0.2s,
    -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0s 0.2s;
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0s 0.2s,
    -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.container {
  width: 75vw;
  margin: auto;
  min-height: 90vh;
  overflow: hidden;
  display: flex;
  display: -webkit-flex; /* Safari */
  flex-flow: column;
  padding-top: 10vh;
}

.title {
  font-family: "Open Sans", sans-serif;
  color: #150e31;
  font-size: 20px;
  letter-spacing: 10px;
  justify-content: center;
  padding-top: 30vh;
  overflow: hidden;
  display: -webkit-flex; /* Safari */
}

.comingSoon {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  color: #150e31;
  font-size: 1.5rem;
  letter-spacing: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Projects */
.projectBlock {
  padding-left: 10vw;
}

.catagory h2 {
  color: #150e31;
  padding-bottom: 20px;
  font-size: 1.2rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.projects {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.projects figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0 0;
  text-align: center;
  cursor: pointer;
  background: #000;
}

.projects figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.projects figure figcaption {
  padding: 1.5em;
  color: #fff;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.projects figure figcaption::before,
.projects figure figcaption::after {
  pointer-events: none;
}

.projects figure figcaption,
.projects figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.projects figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.projects figure h3 {
  letter-spacing: 0em;
  font-weight: 600;
}

.projects figure h3 span {
  font-weight: 800;
}

.projects figure h3,
.projects figure p {
  margin: 0;
}

.projects figure p {
  letter-spacing: 1px;
  font-size: 50%;
}

/*---------------*/
/***** Lily *****/
/*---------------*/

figure.effect-lily img {
  max-width: none;
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);

  opacity: 0.8;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

figure.effect-lily figcaption {
  text-align: left;
}

figure.effect-lily figcaption > div {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.5em;
  width: 100%;
  height: 50%;
}

figure.effect-lily h3,
figure.effect-lily p {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}

figure.effect-lily h3 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-lily p {
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img {
  opacity: 0.33;
}

figure.effect-lily:hover p {
  opacity: 1;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h3,
figure.effect-lily:hover p {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect-lily:hover p {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}

/* Project Detail */
.backBtn {
  padding-top: 0.5rem;
}

.backBtn a {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 800;
  text-decoration: none;
  color: #150e31;
  text-transform: uppercase;
}

.backBtn a i {
  font-size: 0.8rem;
}

.projectItem {
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: 1fr 4fr;
}

.projectInfo .projectInfoList {
  padding-top: 7rem;
}

.projectBody {
  padding-bottom: 3rem;
}

.projectBody h2 {
  margin: 0;
  color: #150e31;
  letter-spacing: 0.1rem;
  font-size: 3rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.projectBody h3 {
  margin: 0;
  color: #8a869b;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 30px;
}

.projectBody p {
  margin: 0;
  color: #150e31;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.8rem;
}

.projectBody img {
  min-height: 100%;
  max-width: 100%;
}

.projectBody .small {
  font-size: 0.8rem;
  color: #8a869b;
  text-align: center;
}

/* img light box */

/* Create four equal columns that floats next to eachother */
.row {
}

.column {
  float: left;
  width: 100%;
  margin: 0;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  animation: fadein 0.5s;
  -moz-animation: fadein 0.5s; /* Firefox */
  -webkit-animation: fadein 0.5s; /* Safari and Chrome */
  -o-animation: fadein 0.5s; /* Opera */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Modal Content */
.modal-content {
  position: relative;
  padding: 0;
  top: 50vh;
  margin-top: -250px;
}

/* The Close Button */
.close {
  font-family: "Helvetica";
  color: #000;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 50px;
  font-weight: 100;
  padding: 0 20px;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  text-align: center;
  display: none;

  animation: fadein 0.5s;
  -moz-animation: fadein 0.5s; /* Firefox */
  -webkit-animation: fadein 0.5s; /* Safari and Chrome */
  -o-animation: fadein 0.5s; /* Opera */
}

.mySlides img {
  max-height: 500px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;

  background-color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.projectInfo p {
  font-size: 0.9rem;
  font-weight: 300;
}

.projectInfo p span {
  font-weight: 800;
}

.projectInfo .line {
  height: 1px;
  background-color: #eee;
  overflow: hidden;
}

.btn {
  padding: 0.5rem 2rem;
  border: 1px #ccc solid;
  display: inline-block;
  margin: 2rem 0;
  border-radius: 50px;
  text-decoration: none;
  color: #333;
  transition: background 500ms ease;
}

.btn:hover {
  background: #632edd;
  border: 1px #632edd solid;
  color: #fff;
}

/* Illustrations */
.illustBlock {
  padding-left: 10vw;
  padding-bottom: 3rem;
}

.illustBlock .grid:after {
  content: "";
  display: block;
  clear: both;
}

.illustBlock .grid-sizer,
.illustBlock .grid-item {
  width: 49%;
}

.illustBlock .gutter-sizer {
  width: 1%;
}

.illustBlock .grid-item {
  float: left;
  margin-bottom: 1%;
}

.illustBlock .grid-item img {
  display: block;
  max-width: 100%;
}

footer .footer-bottom {
  background-color: #000;
  padding: 2rem;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

@media (max-width: 1440px) {
  .navBar {
    width: 90vw;
  }

  .container {
    width: 90vw;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 750px) {
  .navBar {
    width: 80vw;
  }

  .container {
    width: 80vw;
  }

  .modal-content {
    margin-top: -10%;
  }

  .Name {
    margin-top: 8vh;
  }
  nav {
    float: right;
    max-width: 100px;
  }

  nav li {
    line-height: 2rem;
  }

  .projectBlock {
    padding-left: 0;
  }

  .projects {
    grid-template-columns: repeat(1, 1fr);
  }

  .projectItem {
    grid-template-columns: repeat(1, 1fr);
  }

  .projectInfo .projectInfoList {
    padding-top: 1rem;
  }

  .illustBlock .grid-sizer,
  .illustBlock .grid-item {
    width: 100%;
  }

  footer .footer-bottom {
    padding: 1rem;

    font-size: 0.5rem;
  }
}
