* {
  margin: 0;
}

body {
}

.background {
  text-align: center;
}

.background img {
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;
}

#rectangle {
  width: 200px;
  height: 100px;
  background: white;
  border-radius: 30px;
}

#landingScreen,
#tutorialScreen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#landingScreen,
#tutorialScreen img {
  width: 100%;
}

#landingScreen {
  z-index: 100;
}

#canvasContainer {
  position: absolute;
}

.tutorial {
  width: 110px;
  height: 110px;
  position: absolute;
  bottom: 145px;
  left: 60px;
}

.play {
  width: 110px;
  height: 110px;
  position: absolute;
  bottom: 145px;
  right: 60px;
}

#btnStop,
#btnResume {
  position: absolute;
  left: 126px;
  bottom: 124px;
  display: none;
}

#btnStop img,
#btnResume img {
  width: 110px;
  height: 110px;
}
