body {
    background-color: #fff;
    color: #222;
    font-family: "Open Sans", sans-serif;
    line-height: 2 em;
    margin: 0;
}

.instruction {
    padding: 20px 40px;
}

.instruction p {
    font-size: 0.8em;
}

.SNS {
    height: 1334px;
    width: 750px;
    background-color: #fff;
}

.navbar {
    background-color: #fafbfc;
    display: grid;
    grid-template-columns: 15% auto 15%;
    align-items: center;
    justify-items: center;
}

.username {
    font-size: 1.5em;
    text-decoration-line: underline;
}

::-webkit-input-placeholder {
    color: #222;
}

.name-field {
    width: 180px;
    display: inline-block;
    color: #222;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    background-color: #fafbfc;
    padding: .9em 1.8em;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .1s linear;
}

/* after button is clicked */
.name-field.active {
    width: 300px;
    outline: none;
    color: #222;
    cursor: inherit;
}

.active::-webkit-input-placeholder {
    color: #aaa;
}

.name-field:hover {
    background-color: #eee;
}

.hamburger {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.profile {
    display: grid;
    grid-template-columns: auto 20% 20% 20%;
    gap: 10px;
    align-items: center;
    justify-items: center;
}

.profile h2 {
    font-size: 32px;
    margin: 0;
}

.profile p {
    font-size: 24px;
    color: #bbb;
    margin: 0;
}

.profilePic {
    grid-column: 1;
    grid-row: 1/3;

    transition: all 0.5s ease 0s;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.profilePic:hover {
    opacity: 0.5;
    cursor: pointer;

    transition: all 0.5s ease 0s;
}

#profileInput {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

.profileNum {
    display: inline-block;
    text-align: center;
    font-size: 32px;
    outline: none;
    border: none;
    font-weight: 600;
    width: 100px;
}

.post {
    text-align: center;
}

.followers {
    text-align: center;
}

.following {
    text-align: center;
}

.editProfile {
    grid-column: 2/5;
    grid-row: 2;
    text-align: center;
}

.button {
    border: 2px solid #ddd;
    background-color: #fff;
    padding: 10px 160px;
    color: #222;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 10px;

    transition: all 0.5s ease 0s;
}

.button:hover {
    background-color: #eee;
    color: #000;
    border: 2px solid #ccc;
    transition: all 0.5s ease 0s;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    -webkit-transform: translate(1rem, 0);
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}

.popup {
    display: none;
    position: fixed;
    padding: 10px 40px;
    width: 400px;
    left: 50%;
    margin-left: -250px;
    height: 300px;
    top: 50%;
    margin-top: -100px;
    background: #FFF;
    z-index: 20;
}

#popup1:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -2;
}

#popup1:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
}

.inpWrapper {
    display: flex;
    padding-top: 10px;
}

.inp {
    position: relative;
    margin: 0;
    width: 100%;
    max-width: 400px;
}

.inp .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}

.inp .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.inp input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 20px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
}

.inp input:hover {
    background: rgba(34, 50, 84, 0.03);
}

.inp input:not(:placeholder-shown)+span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}

.inp input:focus {
    background: none;
    outline: none;
}

.inp input:focus+span {
    color: #07f;
    transform: translateY(-26px) scale(0.75);
}

.inp input:focus+span+.border {
    transform: scaleX(1);
}


.textProfile {
    margin: 30px;
    font-size: 30px;
}

.borderLine {
    border: 0.5px solid #ddd;
}

.storyHighlights {
    margin: 30px;
}

.storyHighlights p {
    font-size: 23px;
}

.galleryIcon {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
}

.album {
    margin: 10px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    row-gap: 10px;
    column-gap: 10px;
}


.item {
    width: 240px;
    height: 240px;
    background-color: #fcfcfc;
    transition: all 0.5s ease 0s;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.item:hover {
    opacity: .5;
    cursor: pointer;
}

.preBlock {
    display: block;
    width: 240px;
    height: 240px;
    left: 0;
    top: 0;
}

.upload_input {
    display: block;
    width: 0;
    height: 0;
    -webkit-opacity: 0.0;
    /* Netscape and Older than Firefox 0.9 */
    -moz-opacity: 0.0;
    /* Safari 1.x (pre WebKit!) 老式khtml内核的Safari浏览器*/
    -khtml-opacity: 0.0;
    /* IE9 + etc...modern browsers */
    opacity: .0;
    /* IE 4-9 */
    filter: alpha(opacity=0);
    /*This works in IE 8 & 9 too*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /*IE4-IE9*/
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

.delete {
    width: 30px;
    position: absolute;
    right: -30px;
    top: -15px;
    cursor: pointer;
    display: none;
}

.itemInput {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

.bottomNav {
    position: fixed;
    bottom: 0;
    background: #fff;
    height: 100px;
    width: 750px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    align-items: center;
    justify-items: center;
}